@import "tailwindcss";

@theme {
  --color-primary: #fe733a;
  --color-background: #121212;
}

@layer base {
  body {
    @apply bg-background text-white;

  }

.react-flow__attribution {
    display: none !important;
}
}