---
import MainLayout from "@/layouts/main.astro";
import FlowCanvas from "@/components/canvas";
---

<MainLayout title="Canvas – Workflow Builder">
  <div class="fixed inset-0 overflow-hidden">
    <FlowCanvas client:only="react" />
  </div>
</MainLayout>
